* {
  --accent:#41b8cc;
  --accent-light:#8bcbd6;
  --back:white;
  --region:#efefef;
  --region-dark:#e3e3e3;
  --light:#b3b3b3;
  --dark:;
}
.accent{
  color:var(--accent);
}
.accent-light{
  color:var(--accent-light);
}
.region{
  color:var(--region);
}
.light{
  color:var(--light);
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Raleway, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea{
  border:none;
  background-color:var(--region);
  display:block;
  margin: 16px 0px 16px 0px;
  padding: 6px;
  font-size: 20px;
  border-radius: 6px;
}

.relationInput{

}

textarea {
  resize: none;
  overflow:hidden;
  width:100%;
}

div{
  padding:0px;
  margin:0px;
}

span{
  border:none;
  background-color:var(--region-dark);
  display:block;
  margin: 3px;
  padding: 3px;
  font-size: 14px;
  border-radius: 3px;
}

h1{
  font-weight: lighter;
  font-size:38px;
  color:var(--accent);
}

h3{
  margin: 16px 7% 0px 0px;
  font-weight: lighter;
  font-size:24px;
  color:var(--accent-light);
}
h3:hover{
cursor: pointer;
}
h1:hover{
  cursor: pointer;
}

input::placeholder {
  color:var(--light);
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
