body {
  margin: 0;
  font-family: "Helvetica Neue", Raleway, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background:#202020;*/
}

input{
  border:none;
  background-color:#efefef;
  display:block;
  margin: 14px;
  padding: 6px;
  font-size: 20px;
  border-radius: 6px;
}

h1{
  font-weight: lighter;
  font-size:38px;
}

h3{
  margin: 16px 7% 0px 0px;
  font-weight: lighter;
  font-size:24px;
}
h3:hover{
cursor: pointer;
}
h1:hover{
  cursor: pointer;
}

body::scrollbar{
  display:none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#b3b3b3;
  opacity: 1; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
